body {
    background-color: #1A4B76;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    text-align: center;
    box-sizing: border-box;

}

#getAllEnvelopesBox {

    padding: 1%;
    color: thistle;
    background-color: white;
    width: 10%;
    float: left;
    margin: 2%;

    border: 1px solid blueviolet;

}

#createNewEnvelopeBox {

    border: 1px solid blueviolet;
    margin: 2%;
    padding: 1%;
    color: thistle;
    background-color: white;
    width: 15%;
    margin: auto;
    float: left;
    font-size: small;

}