body {
    background-color: #1A4B76;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    text-align: center;
    box-sizing: border-box;
}


#flexBox {
    display: flex;
    flex-wrap: wrap; 

}
#getAllEnvelopesBox, #createNewEnvelopeBox, #specificEnvelopeBox, #updateEnvelopeBox, #deleteEnvelopeBox, #transferEnvelopeBox {

    padding: 1%;
    color: thistle;
    background-color: white;
    width: 10%;
    /* float: left; */
    /* margin: 1%; */
    flex: 1;
    border: 1px solid blueviolet;
    padding:1%;


}

#envelopes {
    display: flex;
    flex-wrap: wrap; 
    font-size: large;
    padding: 1%;
    margin: 1%;
}